@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

@font-face{font-family:'NGothic'; src:url('../font/NanumGothic.woff') format('woff');}
@font-face{font-family:'NGothicB'; src:url('../font/NanumGothicBold.woff') format('woff');}
@font-face{font-family:'NGothicEB'; src:url('../font/NanumGothicExtraBold.woff') format('woff');}

/* Define color variables */

:root {
	--black: #111111;
	--darkgray: #cccccc;
	--gray: #dddddd;
	--white: #ffffff;
	--red: #F04332;
	--yellow: #FBAD18;
	--blue: #3B74BA;
}


body {
	margin-top: 50px;
	font:16px "NGothicEB",Gulim;
	line-height: 30px;
}

.content {
	color: var(--black);
	padding: 50px;
	margin: 0px auto -30px;
	font-family: 'IBM Plex Sans KR', sans-serif;
	max-width: 800px;
}


h2 {
	padding-left: 15px;
	font-size: 150%;
	line-height: 15px;
	font-family: 'Nanum Myeongjo', serif;
	font-weight: bolder;
	background-color: var(--yellow);
}

h3 {
	font-size: 100%;
	line-height: 10px;
	font-weight: 400;
	font-family: 'IBM Plex Sans KR', sans-serif;
}

hr {
	opacity: 50%;
	margin: 30px 0px 30px;
}

p {
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: 300;
}

p span:hover {
	background-color: var(--gray); 
}

p a {
	text-decoration: dashed underline var(--blue);
	text-decoration-color: var(--blue);
}

s {
	text-decoration-color: var(--red);
	text-decoration-thickness: 1px;
}

hr {
	border-top: dashed;
	color: var(--yellow);
	opacity: 50%;
	border-width: 2px;
}

h1,h4,h5,h6 { font-size:100%; }
address, strong{font-style:normal; font-weight:normal;}


/* TABS */

/* Style the tab */
.tab {
  	overflow: hidden;
	display: flex;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
}

/* Style the buttons that are used to open the tab content */
.tab button {
	background-color: inherit;
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: 300px;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 15px 175px;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
	background-color: rgba(251, 173, 24, 0.5);
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: var(--yellow);
}

/* Style the tab content */
.tabcontent {
	display: none;
	padding: 6px 12px;
	margin: 20px auto;
	max-width: 800px;
	animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

ul {
	list-style: none;
}

li::marker {
	content: "★";
	color: var(--yellow);
}

li {
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: 300;
	padding-left: 1em;
}

.img-container {
	flex-direction:row;
	display: flex;
	text-align: center;
	width: 800px;
}

.img-item {
	width: 33%;
	height: 100%;
}


.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


li.todo::marker {
	content: "•";
	color: var(--black);
}
