@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&family=Noto+Serif+SC:wght@200;300;400;500;600;700;900&display=swap');

@font-face{font-family:'NGothic'; src:url('../font/NanumGothic.woff') format('woff');}
@font-face{font-family:'NGothicB'; src:url('../font/NanumGothicBold.woff') format('woff');}
@font-face{font-family:'NGothicEB'; src:url('../font/NanumGothicExtraBold.woff') format('woff');}

/* Define color variables */

:root {
	--black: #111111;
	--darkgray: #cccccc;
	--gray: #dddddd;
	--white: #ffffff;
	--red: #F04332;
	--yellow: #FBAD18;
	--blue: #3B74BA;
}

/* Header */
.header {
	position: fixed;
	width: 100%;
	top: 0;
	background: white;
	margin: 0px 50px;
}

.header a {
	float: left;
	text-align: center;
	padding: 20px 15px 20px 15px;
	text-decoration: none;
	color: var(--black);
	font-size: 20px;
	font-family: 'Darumadrop One', cursive;
}

.header a:hover{
	color: var(--yellow);
}

.header a.active {
  color: var(--red);
}

.header-right {
	float: right;
	margin: 0px 120px;
}


body {
	margin-top: 50px;
	font:16px "NGothicEB",Gulim;
	line-height: 30px;
}

.content {
	color: var(--black);
	padding: 50px;
	margin: 50px 10px;
	font-family: 'IBM Plex Sans KR', sans-serif;
}


h2 {
	text-align: center;
	font-size: 150%;
	line-height: 15px;
	font-family: 'Nanum Myeongjo', serif;
	font-weight: bolder;
	background-color: var(--yellow);
}

h3 {
	text-align: center;
	font-size: 100%;
	line-height: 10px;
	font-weight: 300;
	font-family: 'IBM Plex Sans KR', sans-serif;
}

hr {
	opacity: 50%;
	margin: 30px 0px 30px;
}

p {
	font-family: 'IBM Plex Sans KR', sans-serif;
	font-weight: 300;
}

p span:hover {
	background-color: var(--gray); 
}

p a {
	text-decoration: dashed underline var(--blue);
	text-decoration-color: var(--blue);
}

s {
	text-decoration-color: var(--red);
	text-decoration-thickness: 1px;
}

hr {
	border-top: dashed;
	color: var(--yellow);
	opacity: 50%;
	border-width: 2px;
}t

h1,h4,h5,h6 { font-size:100%; }
address, strong{font-style:normal; font-weight:normal;}
